<%= flash[:notice] %>

<h1> Sign Up </h1>
<%= form_for(@user, url: sessions_path) do |f|%>
  <%= f.label :Username %>
  <%= f.text_field 'username' %>

  <%= f.label :Gender %>


  <div>
    <%= label_tag 'Gender' %>
    <br>
    <%= select_tag "gender", "<option>Male</option><option>Female</option>".html_safe %>
  </div><br>

  <div>
    <%= label_tag 'Age' %>
    <br>
    <%= select_tag "age", options_for_select((16..50)) %>
  </div><br>

  <div>
    <%= label_tag 'Interested In' %>
    <br>
    <%= select_tag "interested", options_for_select((16..40)) %>
  </div><br>

  <div><%= submit_tag 'Save' %></div>
<% end %>
