<%= flash[:notice] %>

<h1> Sign Up </h1>
<%= form_for(@user, url: session_path, method: :post) do |f|%>
  <%= f.label :Username %>
  <%= f.text_field :username %>
  <br>

  <%= f.label :Gender %>
  <%= f.select :gender, "<option>Male</option><option>Female</option>".html_safe %>
  <br>

  <%= f.label "Interested Gender" %>
  <%= f.select :interested_gender, "<option>Male</option><option>Female</option>".html_safe %>
  <br>

  <%= f.label :Age %>
  <%= f.select :age, options_for_select((16..50)) %>
  <br>

  <%= f.label "Interested In"%>
  <%= f.select :preferred_age, options_for_select((16..50)) %>
  <br>
  
  <%= f.submit %>

<% end %>
<br>
<%= link_to "Login", login_session_path %>
