<a href="<%= matches_path %>">Your matches</a>
<p> Interests </p>

<div class="interestsDiv">
  <% if @interest != nil %>
    <label> Username: </label>
    <label> <%= @interest.username %> </label>
    <br>
    <label> Age: <label>
    <label> <%= @interest.age %> </label>
    <br>
    <label> Gender: </label>
    <label> <%= @interest.gender %> </label>

  <%= button_to "Yes", add_like_path(@interest.id)%>
  <%= button_to "No", add_unlike_path(@interest.id) %>
  <% end %>
</div>

<div id="flash">
  <h2 id="flashMessage"><%= flash[:message] %></h2>
</div>
