<!DOCTYPE html>
<html>
<head>
  <title>TinyTinderApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:current_user_id] != nil %>
  <div>
    <label> Welcome <%= session[:username] %></label>
    <label><%= link_to "Logout", session_path, method: :delete, id: "logout" %></label>
  </div>
<% end %>

  <%= yield %>

</body>
</html>
